.title-login {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    margin-top: 60px !important;
    margin-bottom: 80px !important;
}
.form {
    width: 50vw;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
    font-weight: bold;
}

.leaf2 {
    width: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

.leaf3 {
    width: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
}

.button-submit {
    width: 100%;
    font-weight: bold !important;
    background-color: orange !important;
    border: none !important;
    margin-bottom: 20px;
}

p {
    width: 100%;
    margin: 0px !important;
    color: grey;
    font-weight: normal;
    text-align: center;
}

a {
    color: grey !important;
    text-decoration: none !important;
    font-weight: bold;
}

