h4 {
    font-weight: bold !important;
    margin: 50px;
    margin-top: 100px !important;
    margin-left: 130px;
    margin-bottom: 40px !important;
}

.list-transaction {
    margin: auto;
    width: 80vw !important;
}

.table th, .table td {
    border: none !important;
}

img.search {
    width: 20px !important;
    height: 20px !important;
    margin: auto !important;
    margin-left: 25px !important;
}

.search:hover {
    cursor: pointer;
}