* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.title-detail {
    text-align: left;
    padding-left: 200px;
    font-weight: bold;
    margin: 0px;
    margin-top: 150px !important;
}


.title-country {
    text-align: left !important;
    padding-left: 200px;
    font-weight: bold !important;
    margin-bottom: 30px !important;
    color: grey;
}

.thumbnail {
    width: 70vw;
    margin: auto;
    margin-bottom: 50px;   
}

.thumb {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 3px !important;
}

.img-thumbnail {
    width: 100%;
    margin-bottom: 10px;
    border: none;
}