.pages-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    font-size: 25px;
    color: rgb(252, 74, 74);
    font-weight: bold;
    box-sizing: border-box !important;
}