h2.add-country-title {
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.form-add-country {
    margin: auto;
    width: 70vw;
}

.form-add-country .form-input {
    background-color: rgb(217, 219, 219) !important;
}


.form-dropdown{
    position: relative;
}

.form-add-trip .dropdown {
    width: 15px !important;
    height: 10px !important;
    position: absolute;
    top: 47px !important;
    right: 13px !important;
}

.duration {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.day, .night {
    width: 20%;
    margin-right: 30px;
}

.label-day, .label-night {
    margin: 0px !important;
    margin-right: 50px !important;
}

.button-add-country {
    display: flex;
    padding: 10px 20px;
    box-sizing: border-box;
    justify-content: center;
    margin: auto !important;
    margin-top:50px !important;
    background-color: orange;
    color: white;
    font-weight: bold;
    border: none;
}

.flag-input {
  height: 43px;
  border: none !important;
}