.modal-approved-container {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.body-approved-container {
    width: 100% !important;
    margin:  0px !important;
    box-shadow: none !important;
}

.tables {
    width: 100% !important;
} 

.btn-modal-approved {
    margin-top: 20px !important;
    width: 100% !important;
    display: flex;
    justify-content: flex-end !important;
}

.btn-modal-approved .cancel {
    width: 130px;
    height: 50px ;
    border-radius: 5px;
    background-color: rgb(250, 61, 61);
    border: none;
}

.btn-modal-approved .approve {
    width: 130px;
    height: 50px ;
    border-radius: 5px;
    margin-left: 20px;
    background-color: rgb(81, 255, 81);
    border: none;
}