.background-navbar {
    min-width: 100vw;
    height: 80px;
    background-image: url(../../assets/img/navbar-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.login {
    text-align: center;
    width: 100px;
    background-color: transparent;
    color: white !important;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid white;
    align-self: flex-end;
}

.register {
    text-align: center;
    width: 100px;
    background-color: rgb(255, 166, 0);
    color: white !important;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid white;
    align-self: flex-end;
}