* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cards {
    width: 85vw;
    margin: auto;
    margin-top: 100px;
    gap: 25px;
    padding-top: 320px;
}

.card {
    border-radius: 5px;
    overflow: hidden;
}

.title {
    font-weight: bold;
    text-align: center !important;
    margin: 0px;
    margin-bottom: 5px;
}

.info {
    margin: 0px;
    font-size: 15px;
    text-align: center !important;
}