* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cards {
    width: 85vw;
    margin: 100px auto;
    gap: 25px;
    padding-top: 320px;
}

.card {
    border-radius: 5px;
    overflow: hidden;
    padding: 0px !important;
}

.card img {
    margin: 0px !important;
    margin-bottom: 5px !important;
}

.card .title {
    width: 100%;
    font-weight: bold;
    margin: 0px !important ;    
    margin-bottom: 10px !important;
}

.info {
    font-size: 15px;
    text-align: center !important;
    margin: 0px !important;
    margin-bottom: 10px !important;
}